#show {
  border-radius: 3ch;
  width: 90%;
  margin: 1.5%;
}
.hide-entry-tr {
  display: none;
}

.no-properties {
  background: none;
	color: inherit;
  border: none;
}

.center-content th {
  padding: 8px;
}


@media only screen and (max-width: 1202px) {
  #med-col {
    width: 15%;
  }
  #small-col {
    width: 12%;
  }
}

@media only screen and (max-width: 883px) {
  #med-col {
    width: 10%;
  }
  #small-col {
    max-width: 15%;
  }
}