.card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card{
  width: 25%;
  height: 50%;
  border-left-width: 1ch;
  margin: 30px;
}

.blue {
  border-left-color: blue;
}

.red {
  border-left-color: red;
}

.green {
  border-left-color: green;
}

@media only screen and (max-width: 995px) and (min-width: 768px) {
  .card-container {
    padding: 0px 0px;
  }

  .card{
    width: 50%;
    height: 50%;
  }
} 

@media only screen and (max-width: 871px) {
  .card-container {
    display: block;
  }

  .card{
    width: auto;
    height: 50%;
  }
} 