.card-inner {
    padding: 2ch;
    text-align:center; 
      
}

.showNavigation-buttons {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2ch;  
}

.show-card-outter {
    justify-content: center;
    margin-top: 2ch;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2ch;
    width: max-content; 
    border-radius: 25px;
}