.App {
  margin: 5ch;
  width: 60%;
  height: min(100vh, auto);
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
  /* Color added! - https://www.css-gradient.com/?c1=d4c2f9&c2=d4c0f7 */
  background: #d5c2f9;
  background: -webkit-linear-gradient(top left, #d5c2f9, #d5c0f7);
  background: -moz-linear-gradient(top left, #d5c2f9, #d5c0f7);
  background: linear-gradient(to bottom right, #d5c2f9, #d5c0f7);
}

body {
  /* Color added! - https://www.css-gradient.com/?c1=ef9bd9&c2=d637a6 */
  background: #ef9bd9;
  background: -webkit-linear-gradient(top left, #ef9bd9, #d637a6);
  background: -moz-linear-gradient(top left, #ef9bd9, #d637a6);
  background: linear-gradient(to bottom right, #ef9bd9, #d637a6);
}

/* New entry */
.New {
  padding: 2ch;
}

button {
  font: inherit;
  cursor: pointer;
  padding: 1rem 2rem;
  border: 1px solid #40005d;
  background-color: #40005d;
  color: white;
  border-radius: 12px;
}

a {
  text-decoration: none;
  color: white
}


@media (max-width: 901px ){
  .App {
    width:100%;
    height: fit-content;
  }
}


