.App {
  margin: 5ch;
  width: 60%;
  height: min(100vh, auto);
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 5%; 
  background: #ada192;
}

body {
  background: #5c524c;
}

/* New entry */
.New {
  padding: 2ch;
}

button {
  font: inherit;
  cursor: pointer;
  padding: 1rem 2rem;
  border: 1px solid #4e4b44b5;
  background-color: #4e4b44b5;
  color: white;
  border-radius: 12px;
}

a {
  text-decoration: none;
  color: white;
}

@media (max-width: 901px) {
  .App {
    width: 100%;
    height: fit-content;
  }
}
