@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;0,900;1,700&display=swap');

.App {
  font-family: 'Merriweather', serif;
  border-radius: 30px;
  display: grid;
  grid-template-columns: .5fr 3fr;
  grid-template-areas: 
  "header header header"
  "toggles table table"
  "toggles table table";
  font-size: larger;
  height: 100vh;
}

.dashboard-table-container {
  grid-area: table;
}
.budget-toggleContainer{
  grid-area: toggles;
}
.header{
  grid-area: header;
  background-color:#8b8d81 ;
}

.app-title {
  font-weight: bolder;
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  background-color: #eaebe7;
  height: 100vh;
  overflow: auto;
}

.edit-column {
  width: 50%;
}

.show-page {
  display: flex;
  justify-items: center;
}

.showNavigation-buttons {
  display: flex;
  margin: 2ch;
  gap: 10%;
  justify-content: center;
}



@media only screen and (max-width: 871px) {
  
  .App {
    grid-template-columns: 1fr;
    grid-template-areas: 
    "header"
    "toggles"
    "table";
  }

  .show-page {
    display: grid;
    grid-column: 1fr;
  }

  .edit-column {
    width: 100%;
    margin: 5ch;
  }

}